test
collatergg3.m
collatergg4.m
collatergg5.m
collatergg5.m~
err
err2
gmr-wt.fasta
gmr-wt.fasta.1.bt2
gmr-wt.fasta.2.bt2
gmr-wt.fasta.3.bt2
gmr-wt.fasta.4.bt2
gmr-wt.fasta.bed
gmr-wt.fasta.fai
gmr-wt.fasta.rev.1.bt2
gmr-wt.fasta.rev.2.bt2
sam2matperl_gg~
test.csv
test.mat